- select_value = @tmp_arr.sample
- value = select_value.gsub(/./){|s| s.send(%i[upcase downcase].sample)}

%p
  Tebak:
  = value
%p
  Jawab:
= simple_form_for :game, url: games_path, method: :get do |f|
  = f.input :tebak
  = f.hidden_field :key, value: "#{select_value}"
  = f.button :submit, "submit"

- if flash[:notice]
  = flash[:notice]
